header {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

header a {
    margin: 0 10px 0 10px;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

header a:hover {
    text-decoration: underline;
}

#apps {
    opacity: 0.70;
}

#apps:hover {
    opacity: 1;
}

#signin {
    background-color: blue;
    padding: 12px;  
    border-radius: 5%;
    color: white;
    font-weight: bold;
}

#signin:hover {
    opacity: 0.70;
}

#logo {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 200px;
}

#search-area {
    margin-top: 25px;
    display: flex;
    width: 100%;
    justify-content: center;
}

#search-bar {
    width: 600px;
    height: 30px;
    border: 1px solid rgb(228, 228, 228);
    box-shadow: 2px 2px 2px rgb(218, 218, 218);
}

#search-bar:hover, #search-bar:focus {
    box-shadow: 3px 3px 3px rgb(218, 218, 218);
}

#buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.button {
    margin: 0 10px 0 10px;
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(238, 238, 238);
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    opacity: 0.65;
    transition: 0.3s;
}

.button:hover {
    border: 1px solid rgb(187, 187, 187);
    cursor: pointer;
    opacity: 1;
}

footer {
    display: block;
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(235, 235, 235);
}

#country {
    border-top: 1px solid rgb(199, 198, 198);
    display: flex;
    justify-content: flex-start;
    padding: 13px 0 13px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(116, 116, 116);
}

#footer-links {
    border-top: 1px solid rgb(199, 198, 198);
    display: flex;
    padding: 13px 0 13px 20px;
}

#footer-links a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(112, 112, 112);
    margin: 0 10px 0 0;
}

#footer-links a:hover {
    text-decoration: underline;
}

#links-left {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

#links-right {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}